/* Reset básico de margin e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #333;
}

/* Cabeçalho */
.header {
    background-color: #20232a;
    color: #fff;
    padding: 20px 0;
}

.header .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 2em;
    font-weight: bold;
}

.header input[type="search"] {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

/* Navegação */
.navbar {
    background-color: #333;
    padding: 10px 0;
}

.navbar .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

.navbar a:hover {
    text-decoration: underline;
}

/* Conteúdo Principal */
.content {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.main-article {
    flex: 3;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(158, 70, 70, 0.1);
}

.sidebar {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 10px 0;
}

/* Rodapé */
.footer {
    background-color: #20232a;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
}
